:root {
  --btn-dark-color: #ffffff;
  --btn-dark-bg-color: #d41443;
  --btn-light-color: #d41443;
  --btn-light-bg-color: #ffffff;
  --btn-dark-hover-bg-color: #c7133e;
  --btn-light-hover-bg-color: #ecebeb;
}
