<!-- Products -->
<section class="products">
  <div class="container">
    <p class="products_pre-title">100% natural</p>
    <h2 class="products_title">products</h2>
    <ul class="product-cards">
      <li class="product-cards_item">
        <div class="block-ice-cream card">
          <p class="cards-name ice-cream">ice cream</p>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam expedita quod, quam at
            voluptatum maiores voluptates recusandae nesciunt eos sapiente quis, dolore odio ab non
            cumque laboriosam. Dicta, reprehenderit exercitationem.
          </p>
        </div>
      </li>
      <li class="product-cards_item">
        <div class="block-ice-coffee card">
          <p class="cards-name ice-coffee">ice coffee</p>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam expedita quod, quam at
            voluptatum maiores voluptates recusandae nesciunt eos sapiente quis, dolore odio ab non
            cumque laboriosam. Dicta, reprehenderit exercitationem.
          </p>
        </div>
      </li>
      <li class="product-cards_item">
        <div class="block-milkshakes card">
          <p class="cards-name milkshakes">milkshakes</p>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam expedita quod, quam at
            voluptatum maiores voluptates recusandae nesciunt eos sapiente quis, dolore odio ab non
            cumque laboriosam. Dicta, reprehenderit exercitationem.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
